html, body {
	height: 100%;
	min-height: 100%;
}

html {
	box-sizing: border-box;
	line-height: 1;
}

body {
	overflow: hidden;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	position: relative;
}

#GitHubLink {
	position: absolute;
	z-index: 1;
	left: 16px;
	top: 16px;
	opacity: 0.7;
	color: White;
	font-size: 24px;
	text-decoration: none;
	transition-duration: 0.3s;
	transition-property: opacity;
}

#GitHubLink:hover {
	opacity: 0.9;
}