html, body {
	height: 100%;
	min-height: 100%;
}

html {
	box-sizing: border-box;
	line-height: 1;
}

body {
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	position: relative;
	min-width: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

.github {
	position: absolute;
	z-index: 1;
	left: 16px;
	top: 16px;
	opacity: calc(4/5);
	color: White;
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
}